<div class="row" style="border: 1px solid lightgray; padding: 20px;">
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <h2>{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h2>
      <hr style="border: 1px solid lightgray">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" class="center">
      <img
        src="{{ vehicle.imgPath }}"
        alt="{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{vehicle.year}}</span>
          Year:
        </li>
        <li class="list-group-item">
          <span class="badge">{{ vehicle.make }}</span>
          Make:
        </li>
        <li class="list-group-item">
          <span class="badge">{{ vehicle.model }}</span>
          Model:
        </li>
        <li class="list-group-item">
          <span class="badge">{{ vehicle.numDoors }}</span>
          Number of doors:
        </li>
        <li class="list-group-item">
          <span class="badge">{{vehicle.VEH_TYPE}}</span>
          Vehicle Type:
        </li>
        <li class="list-group-item">
          Description:
          {{ vehicle.description }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr style="border: .5px solid lightgray">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <button type="button" class="btn btn-primary" (click)="onEditListing()" style="margin-right: 10px;">Edit Listing</button>
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete Listing</button>
    </div>
  </div>
</div>
